/* base css */
* {
    margin: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #680404;
    margin: 0;
    padding: o;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100hv;
    margin-top: 40px;
}

.contact-container{
    background: rgb(121, 3, 3);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}

.contact-form h1{
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

.form-group{
    margin-bottom: 10px;
    margin-top: 10px;
}

label{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #555;
}
#name{
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: none;
}


button {
    background-color: #2c974b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #23863a;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

img{
    pointer-events: none;
}

.radio-elems {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.radio-group {
    display: flex;
}

/* #radio-label-on{
    margin: 0;
    padding: 1rem;
} */

.radio-label {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 1rem;
    width: 10rem;
    text-align: center;
    padding: 1rem!important;
}

#radio{
    margin: 0;
    padding: 0rem;
    width: 20px;
}

/*tablet screens */
@media screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }

    .contact-container {
        background-color: #23863a;
    }

    .radio-label {
        width: 5rem;
        padding: 0.5!important;
        font-size: 0.6rem;
    }

  }
    

/* Laptop screens */
@media screen and (min-width: 1024px) {
    body {
      background-color: lightgreen;
    }

    .contact-container {
        background-color: #1e0557;
    }

    .radio-label {
        width: 5rem;
        padding: 0.5!important;
        font-size: 0.6rem;
    }

  }

  @media screen and (min-width: 1440px) {

    .contact-container {
        background-color: #47e4fd;
    }
    
  }

